@import '../../styles/variables.scss';

.Login {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;

  background: $light-gray; /* Old browsers */
  background: -moz-linear-gradient(
    top,
    $light-gray 0%,
    $mid-gray 36%,
    $dark-blue 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    $light-gray 0%,
    $mid-gray 36%,
    $dark-blue 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    $light-gray 0%,
    $mid-gray 36%,
    $dark-blue 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$light-gray', endColorstr=$dark-blue,GradientType=0 ); /* IE6-9 */
}

.Form {
  padding: 30px 15px;
  background: $white;
  width: 100%;
  max-width: 500px;
  border-radius: 4px;
  box-shadow: 0 2px 17px $light-gray;
}

.Title {
  text-align: center;
  margin: 10px 0;
  border: none;
  width: 100%;
  font-weight: 600;
}

.Btn {
  background: darken($light-gray, 5);
  border: none;
  border-radius: 4px;
  width: 100%;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  color: $white;
  letter-spacing: 2px;
}

.Error {
  margin: 10px 0;
}

.Info {
  font-size: 12px;
  margin-top: 10px;
}
