@import '../../styles/variables.scss';

.ReviewItem {
    border: 1px solid $gray;
    border-radius: $border-radius;
    margin: 10px 0;
    padding: 10px;
}

.ReviewText {
    word-break: break-all;
}

.ReviewTitle {
    font-weight: bold;
}

.ReviewDate {
    font-style: italic
}