$gray: #505050;
$light-gray: #b5bdc8;
$mid-gray: #828c95;
$dark-gray: #262626;
$black: #08080c;
$dark-brown: #131313;
$red: #ff0036;
$white: #fff;
$yellow: yellow;
$dark-blue: #28343b;

$border-radius: 6px;