@import '../../styles/variables.scss';

.StarIcon {
    width: 20px;
    stroke: $light-gray;
    stroke-width: 20px;
    fill: transparent;
    cursor: pointer
}

.StarDisabled {
    cursor: default;
}

.StarIconFill {
    fill: $yellow;
}